.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.notFound_block {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.notFound_title {
    /*font-family: 'Bebas Neue', cursive;*/
    font-size: 24px;
    line-height: 150%;
    color: #fff;
}

.notFound_img {
    width: 100%;
}

.notFound_Link {
    color: #000;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.notFound_Link button {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 3.71% 13.4%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin: 42px 0 44px;
}